body {
background-color: powderblue;
}

p {
 color: blue;
}

.center{

        margin-left: auto;

        margin-right: auto;

}
img{ Display: block;
      Height: 250px;
      Widht: 350px;

figcaption {text-align:center;}
